@import url('https://fonts.googleapis.com/css2?family=K2D&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Raleway', 'K2D', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAE3E3;
}